<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css\styles.css" rel="stylesheet">
    <link href="css\register.css" rel="stylesheet">
    <link href="css\normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="padreSuperior">
            <div class="superior">
                <div class="logoImagen">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </div>
                <div class="searchBar">
                    <input type="text" class="inputSearch" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="cuotas">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
            </div>
        </div>
        <nav class="navBar">        
            <ul class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas Oficiales</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
                <ul class="righ-navBar">
                    <li><a href="/register">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
                    <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></i></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </ul>
        </nav>
        <div class="burguer-menu"><i class="fas fa-bars"></i>
        </div>
    </header> 
    <main>
        <form>
            <h1>Registrate:</h1>
            <form action="/registro" method="post">
                <label for = "nombre"></label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" class="redondeado">

                <label for="usuario"></label>
                <input type="text" name="usuario" placeholder="Ingrese el usuario:" class="redondeado">

                <label for="date"><h1>Fecha de Nacimiento</h1></label>
                <input type="date" id="start" name="trip-start" class="redondeado" class="calendario">

                <label for="domicilio"></label>
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="redondeado">
                
                <h1>Perfil de Usuario</h1>
                <div class="userprofile">
                        <label for="comprador">Comprador</label>
                        <input type="radio" name="option" value="comprador">
                        <label for="comprador">Vendedor</label>
                        <input type="radio" name="option" value="comprador">
                </div>
                    <div class="intereses">
                        <h1>Intereses</h1>
                        <div class="interesesHijos">
                            <input type="checkbox" name="electro">
                            <label for="electro">Electro</label>
                        </div>

                        <div class="interesesHijos">
                            <input type="checkbox" name="moda" class="check">
                            <label for="moda">Moda</label>
                        </div>
                        <div class="interesesHijos">
                            <input type="checkbox" name="hogar" class="check">
                            <label for="hogar">Hogar</label>
                        </div>
                        <div class="interesesHijos">
                            <input type="checkbox" name="juegueteria" class="check">
                            <label for="jugueteria">Juguetería</label>
                        </div>
                        <div class="interesesHijos">
                            <input type="checkbox" name="vidasana" class="check">
                            <label for="vidasana">Vida Sana</label>
                        </div>
                    </div>

                        <input type="file" name="avatar" accept=".jpg" >
                        <input type="password" placeholder="Contraseña" pattern=".{6,}" class="redondeado">
                        <input type="password" placeholder="Repita la Contraseña" pattern=".{6,}" class="redondeado">
                        <a href="/" class="buttom"><input type="button" value="Enviar" href="index.html" class="bottom"></a>
                        <input type="reset" value="Borrar información" class="bottom">
            </form>
    </main>
    <footer>
        <section class="contenedorPadre">
            <div class="contenedor">
                <div class="lastIcon"><i class="fas fa-credit-card"></i></div>
                    <div class="iconText">                
                    <h1>Pagá con tarjeta o en efectivo</h1>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></div>
                    </div>
                </div>

            <div class="contenedor">
                <div class="lastIcon"><i class="fas fa-gift"></i></div>
                <div class="iconText">
                <h1>Envío gratis desde $ 2.500</h1>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            </div>
           <div class="contenedor">
                <div class="lastIcon"><i class="fas fa-user-shield"></i></div>
                <div class="iconText">
                <h1>Seguridad, de principio a fin</h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            </div>
        </section>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>