form {
  width: 100%;
  max-width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
  background-color: rgb(226, 226, 226);
  box-shadow: gray;
}

form h1 {
  margin: 15px;
  display: flex;
  align-items: flex-start;
}
form button {
  padding: 0.5em 1em;
  border: none;
  background: #1259c3;
  cursor: pointer;
}

.redondeado {
  width: 85%;
  height: 40px;
  margin: 0.5rem;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: rgb(252, 252, 252);
}
.userprofileHijo {
  display: flex;
  flex-direction: row;
}
::placeholder {
  padding: 1vw;
}
input[type="date"] {
  color: gray;
  padding: 1vw;
}
.intereses {
  display: flex;
  flex-direction: column;
}
.check {
  padding-right: 10em;
}
.interesesHijos {
  margin: 0.8em;
  padding-left: 34px;
}
.bottom {
  border: 0px;
  width: 85%;
  height: 40px;
  margin: 0.5rem;
  border-radius: 5px;
  color: white;
  background-color: #0044aa;
}
.buttom:hover {
  background-color: #0022aa;
}
.bottom:hover {
  background-color: #0022aa;
}
.userprofile {
  padding: 5px;
  text-align: center;
}

/* ---------- Media Queries ---------- */
@media (min-width: 769px) {
  form {
    max-width: 50vw;
  }
}
