* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
  min-height: 100vh;
  width: 100%;
}
p {
  font-size: 12px;
}
h1 {
  color: #666;
  font-size: 24px;
}

/* ---------- HEADER ---------- */

header {
  background-color: #eac926;
  width: 100vw;
  margin: auto;
  padding: 2vw;
  padding-top: 0;
}
.logoImagen {
  margin: auto;
  width: 40vw;
}
.searchBar {
  border-radius: 2em;
  background-color: #fffbf8;
  margin: auto;
  display: flex;
}
.searchBar input {
  border: none;
  outline: none;
}

.searchBar button {
  border-radius: 2em;
  border: none;
  background-color: #fffbf8;
}
.searchBar i {
  color: gray;
}

.inputSearch {
  width: 30vw;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #b7cadf;
}
::placeholder {
  padding: 1vw;
}
.superior {
  display: flex;
  flex-grow: 1;
}
.cuotas {
  text-align: center;
  margin: auto;
  display: block;
  padding: 5vw;
}
.cuotas p {
  font-size: 15px;
  font-weight: bold;
}
.padreSuperior {
  flex-wrap: wrap;
}
.main-navbar {
  display: none;
}

li {
  text-decoration: none;
  list-style: none;
}

nav ul li :hover {
  border-radius: 2em;
  padding: 0.1em;
  background-color: #ddbd1f;
}
a {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}

.burguer-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #03264c;
  border-radius: 3px;
}

/* ---------- MAIN ---------- */

main {
  width: 90vw;
  margin: auto;
}
.banner img {
  width: 100vw;
}
section {
  justify-content: center;
}
.publicacion {
  box-shadow: #666;
  border-radius: 0.4em;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.publicacion img {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.publicacionHijo {
  display: flex;
  border-top: solid 1px#ebebeb;
  padding: 15px;
}
.precio {
  width: 30%;
  font-size: 18px;
}
.descuento {
  width: 70%;
  color: #39b54a;
}

/*Verlo despues
.envio {
  display: flex;
  position: relative;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  top: 0px;
  right: -800vw;
}*/

.descripcion {
  display: none;
  color: #666;
}

/* ---------- FOOTER ---------- */
.contenedorPadre {
  border-radius: 0.4em;
  color: #666;
  background-color: white;
  text-align: center;
}

.contenedor {
  padding: 2em;
  border-radius: 0.3em;
  background-color: white;
}
footer.h1 {
  font-weight: bold;
}

.lastIcon {
  color: #1259c3;
  font-size: 2em;
}
.lastIcon :hover {
  color: #03264c;
}
.copy {
  margin: 10px 10px 10px;
  color: gray;
  text-align: left;
}

/* ---------- MEDIA QUERIES ---------- */

/* ---- TABLET ----- */
@media (min-width: 480px) {
  /* --- HEADER --- */
  .publicacion img {
    width: 29vw;
  }
  .burguer-menu {
    display: none;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0px 15px;
  }
  /* --- BODY --- */
  section {
    display: flex;
    flex-wrap: wrap;
  }
  .descripcion {
    display: block;
  }
  .publicacion {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 30vw;
    margin: 2em;
  }
}
/* ---- DESKTOP ----- */
@media (min-width: 769px) {
  /* --- HEADER--- */
  .burguer-menu {
    display: none;
  }
  .padreSuperior {
    display: flex;
    flex-wrap: wrap;
  }
  .logoImagen {
    width: 20vw;
  }
  .searchBar {
    width: 30vw;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0px 15px;
  }
  .cuotas {
    width: 33vw;
    max-width: 600px;
    text-align: right;
  }
  /* --- BODY--- */
  section {
    display: flex;
    flex-wrap: wrap;
  }
  .publicacion {
    width: 18vw;
    margin: 1em;
    justify-content: center;
    align-items: center;
  }

  .publicacion {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: block;
  }
  .publicacion img {
    width: 17vw;
  }
  /* --- FOOTER --- */
  .contenedorPadre {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
  }
}
